This project refers to data from 20/04/2023

# 1 - Extract the 30-work day daily data from one of the following tickers:

1. ITUB - ItaÃº
2. BBD - Bradesco
3. MSFT - Microsoft
4. GOOG - Google
5. TSLA - Tesla

In [1]:
from chave_api import chave_api

In [2]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import numpy as np
import datetime


### Select one of the available stock tickers.
ticker_list = ['ITUB','BBD','MSFT','GOOG','TSLA']
ticker = ticker_list[0]

### Create a TimeSeries object to acess the AlphaVantageAPI.
ts = TimeSeries(key=chave_api, output_format='pandas')

### Receive daily data from the chosen ticker.
### ts.get_daily is an option but only available from the premimum API version. 
data, metadata = ts.get_daily_adjusted(symbol=ticker, outputsize='compact')

### Filter data to only include the last 30 work days.
### days = 45 was assumed because on average 45 calendar days correspond to 30 work days.
today = datetime.datetime.now()
thirty_days_ago = today - datetime.timedelta(days=45)
filtered_data = data.loc[data.index > thirty_days_ago]

Certify that filtered_data de facto only includes data from 30 work days back.

In [3]:
data.tail()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2022-12-01,4.98,5.005,4.9200,4.97,4.803625,50129793.0,0.0034,1.0
2022-11-30,4.84,4.990,4.8100,4.98,4.809973,45806430.0,0.0000,1.0
2022-11-29,4.81,4.900,4.7943,4.81,4.645778,32088419.0,0.0000,1.0
2022-11-28,4.78,4.840,4.7100,4.74,4.578168,32027177.0,0.0000,1.0
2022-11-25,4.90,4.920,4.8130,4.86,4.694071,22096556.0,0.0000,1.0

In [4]:
filtered_data.tail()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2023-03-13,4.49,4.590,4.4244,4.48,4.425975,45067666.0,0.0,1.0
2023-03-10,4.63,4.700,4.5400,4.56,4.505010,32393988.0,0.0,1.0
2023-03-09,4.82,4.856,4.7301,4.76,4.702598,30839891.0,0.0,1.0
2023-03-08,4.83,4.925,4.8200,4.86,4.801392,20885009.0,0.0,1.0
2023-03-07,4.71,4.760,4.6300,4.75,4.692719,26149426.0,0.0,1.0

In [5]:
print(data.shape)
print(filtered_data.shape)

(100, 8)
(32, 8)

filtered_data contains more recent data and has less entries.

# Extra: check how many days separate the first and last entry.

First 5 entries (dates)

In [6]:
filtered_data.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2023-04-20,4.970,5.060,4.970,5.02,5.02,15589788.0,0.0,1.0
2023-04-19,5.090,5.110,4.994,5.00,5.00,19707169.0,0.0,1.0
2023-04-18,5.155,5.220,5.110,5.16,5.16,20546294.0,0.0,1.0
2023-04-17,5.270,5.300,5.170,5.21,5.21,21892934.0,0.0,1.0
2023-04-14,5.120,5.275,5.110,5.26,5.26,26961901.0,0.0,1.0

Last 5 entries (dates)

In [7]:
filtered_data.tail()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2023-03-13,4.49,4.590,4.4244,4.48,4.425975,45067666.0,0.0,1.0
2023-03-10,4.63,4.700,4.5400,4.56,4.505010,32393988.0,0.0,1.0
2023-03-09,4.82,4.856,4.7301,4.76,4.702598,30839891.0,0.0,1.0
2023-03-08,4.83,4.925,4.8200,4.86,4.801392,20885009.0,0.0,1.0
2023-03-07,4.71,4.760,4.6300,4.75,4.692719,26149426.0,0.0,1.0

Check how many days are between the last and the first entry.

In [8]:
import pandas as pd
from pandas.tseries.offsets import BDay

start_date = filtered_data.index[-1].date() 
end_date = filtered_data.index[0].date()

### Convert data to pandas timestamp data.
start_date_ts = pd.Timestamp(start_date)
end_date_ts = pd.Timestamp(end_date) - BDay(1)

### Calculate the total working days between the two dates
working_days = pd.date_range(start=start_date_ts, end=end_date_ts, freq=BDay(),).size

print(f"Work days between {start_date} and {end_date}: {working_days}")

Work days between 2023-03-07 and 2023-04-20: 32

The total timeframe is therefore 30 work days, using the Pandas Bday function.

# 2 - Calculate Mean, standard deviation, minimum value, quartile distrubition and maximum value for the last 30 work days.

Usando numpy:

In [9]:
import numpy as np

### Calculate statistics using close data
mean_value = np.mean(filtered_data['4. close'])
std_deviation = np.std(filtered_data['4. close'])
min_value = np.min(filtered_data['4. close'])
quartiles = np.percentile(filtered_data['4. close'], [25, 50, 75])
max_value = np.max(filtered_data['4. close'])

### Print final results
print(f"Mean: {mean_value}")
print(f"Standard deviation: {std_deviation}")
print(f"Minimal value: {min_value}")
print(f"First quartile(Q1): {quartiles[0]}")
print(f"Second quartile (Q2) / Median: {quartiles[1]}")
print(f"Third quartile (Q3): {quartiles[2]}")
print(f"Maximal value: {max_value}")

Mean: 4.7434375
Standard deviation: 0.27547242801004607
Minimal value: 4.33
First quartile(Q1): 4.5024999999999995
Second quartile (Q2) / Median: 4.755
Third quartile (Q3): 4.9025
Maximal value: 5.26

Using Pandas:

In [10]:
filtered_data["4. close"].describe()

count    32.000000
mean      4.743437
std       0.279880
min       4.330000
25%       4.502500
50%       4.755000
75%       4.902500
max       5.260000
Name: 4. close, dtype: float64

Disconsidering a small standard deviation difference, the end values are identical, therefore this calculation is plausible.

# Sort data and select the n highest and n-lowest volume from the last 30 work days.

In [11]:
### Define n value
n = 5

### Select the n-lowest volume days.
lowest_volume_days = filtered_data.sort_values(by='6. volume',ascending=1).head(n)

### Select the n highest volume days.
highest_volume_days = filtered_data.sort_values(by='6. volume',ascending=0).head(n)

### Print results
print(f"The {n} n-lowest volume days:")
print(lowest_volume_days['6. volume'])

print(f"\nThe {n} n-highest volume days:")
print(highest_volume_days['6. volume'])

The 5 n-lowest volume days:
date
2023-04-20    15589788.0
2023-04-10    16985987.0
2023-04-06    19171148.0
2023-04-19    19707169.0
2023-04-18    20546294.0
Name: 6. volume, dtype: float64

The 5 n-highest volume days:
date
2023-03-31    71057738.0
2023-03-15    65813127.0
2023-03-23    50024782.0
2023-03-13    45067666.0
2023-04-11    44518724.0
Name: 6. volume, dtype: float64

The end results are plausible, given that the minimal value and maximal value from the volume column are compatible.

In [12]:
filtered_data['6. volume'].max()

71057738.0

In [13]:
filtered_data['6. volume'].min()

15589788.0

# Sum the total ITUB and BBD volumes from the last 30 work days.

In [14]:
def get_filtered_data(symbol):
    ### Filtering data from only 30 work days ago, like in question 1
    data, metadata = ts.get_daily_adjusted(symbol=symbol, outputsize='compact')    
    today = datetime.datetime.now()
    thirty_days_ago = today - datetime.timedelta(days=45)
    filtered_data = data.loc[data.index > thirty_days_ago]
    return filtered_data

### Get data for ITUB and BBD tickers
itub_data = get_filtered_data('ITUB')
bbd_data = get_filtered_data('BBD')

### Sum up volume from the 30 last days
itub_volume_sum = itub_data['6. volume'].sum()
bbd_volume_sum = bbd_data['6. volume'].sum()

### Print results
print(f"Sum up volume from the 30 last days of the ITUB stock : {itub_volume_sum}")
print(f"Sum up volume from the 30 last days of the BBD stock: {bbd_volume_sum}")

Sum up volume from the 30 last days of the ITUB stock : 1021766512.0
Sum up volume from the 30 last days of the BBD stock: 975122859.0

# 5 - Export .CSV file using the API, create a table and import the TSLA .CSV file in a PostsgreSQL database.

Analyze the data structure:

In [15]:
get_filtered_data('TSLA').head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2023-04-20,166.17,169.55,160.5600,162.99,162.99,209966736.0,0.0,1.0
2023-04-19,179.10,183.50,177.6500,180.59,180.59,125732687.0,0.0,1.0
2023-04-18,187.15,187.69,183.5775,184.31,184.31,92067016.0,0.0,1.0
2023-04-17,186.32,189.69,182.6900,187.04,187.04,116177121.0,0.0,1.0
2023-04-14,183.95,186.28,182.0100,185.00,185.00,96438664.0,0.0,1.0

The dataframe has 8 columns with a date index.

In [ ]:
import os
import psycopg2
from io import StringIO

### Save the data in the variable tesla_data for the ticker TSLA, using the function from task 4.
tesla_data = get_filtered_data('TSLA')

### Avoid the error UniqueViolation: duplicate key value violates unique constraints, by transfering the date index to a column

tesla_data = tesla_data.reset_index().rename(columns={'index': 'date'})


### Avoid the error InvalidTextRepresentation: invalid input syntax for type bigint, by transforming the data from the column of 6.volume in BIGINT type
tesla_data['6. volume'] = tesla_data['6. volume'].astype('int64')

### Export to a .CSV file
csv_file_name = 'tesla_data.csv'
tesla_data.to_csv(csv_file_name, index=False, header = False)

### PostgreSQL database credentials
db_name = 'name'
db_user = 'user'
db_password = 'pw'
db_host = 'host'
db_port = '1337'


### Create table and import data from the CSV data in a PostGreSQL
def create_and_import_table(file_name, table_name):
    with psycopg2.connect(database=db_name, user=db_user, password=db_password, host=db_host, port=db_port) as conn:
        with conn.cursor() as cur:
            ### Create table using SQL
            cur.execute(f"""
                CREATE TABLE IF NOT EXISTS {table_name} (
                    date DATE,
                    open FLOAT,
                    high FLOAT,
                    low FLOAT,
                    close FLOAT,
                    adjusted_close FLOAT,
                    volume BIGINT,
                    dividend_amount FLOAT,
                    split_coefficient FLOAT
                )
            """)
            conn.commit()

            ### Import .CSV data
            with open(file_name, 'r') as f:
                cur.copy_from(f, table_name, sep=',', columns=('date','open', 'high', 'low', 'close', 'adjusted_close', 'volume','dividend_amount','split_coefficient'))
                conn.commit()
            ### Close cursor
            cur.close()


### Call function to create a table and import the CSV data.
create_and_import_table(csv_file_name, 'tesla_data')